[Desktop Entry]
Version=1.0
Categories=GNOME;
Icon=preferences-system-power
Name=Energiewendeuhr
Comment=GNOME Shell search provider showing the Energiewendeuhr status
Terminal=false
Type=Application
OnlyShowIn=GNOME;
Exec=gnome-terminal